In [1]:
# import required libries
import pandas as pd

# define required path
raw_data = '../../data/raw/'
curated_data = '../../data/curated/'

In [2]:
# read in datasets
shopping = pd.read_csv(curated_data + 'suburb_shopping.csv', index_col=0)
population = pd.read_csv(curated_data + 'suburb_population2021.csv')
crime = pd.read_csv(curated_data + 'crime2021.csv', index_col=0)
passenger = pd.read_csv(curated_data + 'traffic_sum.csv', index_col=0)
station = pd.read_csv(curated_data + 'traffic_count.csv', index_col=0)
income = pd.read_csv(curated_data + 'suburb_income.csv')

facilites = pd.read_csv(curated_data + 'facilites_suburb.csv', index_col=0)
hospital = pd.read_csv(curated_data + 'hospital_suburb.csv', index_col=0)
school = pd.read_csv(curated_data + 'school_suburb.csv', index_col=0)

rent =  pd.read_csv(curated_data + 'annual_rent_2019_2020.csv')

In [3]:
# Extract required columns
crime = crime[['Suburb', 'crime_rate']]
income = income[['Suburb', '2018_income']]
rent =  rent [['Suburb','Mar 2021 Median']]

In [4]:
# Tranfer all suburb columns to uppercase
shopping['suburb'] = shopping['suburb'].str.upper()
passenger['Suburb'] = passenger['Suburb'].str.upper()
hospital['Suburb'] = hospital['Suburb'].str.upper()
station['Suburb'] = station['Suburb'].str.upper()
rent['Suburb'] = rent['Suburb'].str.upper()

# Merge datasets together

In [5]:
suburb_merged = income.join(shopping.set_index('suburb'), on = 'Suburb')

In [6]:
suburb_merged = suburb_merged.join(population.set_index('Suburb'), on = 'Suburb')

In [7]:
suburb_merged = suburb_merged.join(crime.set_index('Suburb'), on = 'Suburb')

In [8]:
suburb_merged = suburb_merged.join(passenger.set_index('Suburb'), on = 'Suburb')

In [9]:
suburb_merged = suburb_merged.join(station.set_index('Suburb'), on = 'Suburb')

In [10]:
suburb_merged = suburb_merged.join(facilites.set_index('Suburb'), on = 'Suburb')

In [11]:
suburb_merged = suburb_merged.join(hospital.set_index('Suburb'), on = 'Suburb')

In [12]:
suburb_merged = suburb_merged.join(school.set_index('Suburb'), on = 'Suburb')

In [13]:
final_table  = rent.join(suburb_merged.set_index('Suburb'), on = 'Suburb')

In [14]:
# Rename the columns
final_table.columns = ['Suburb', '2021 rent','2018_income', 'shopping_count', 'population', 'crime_rate', 'num_passenger', 'num_station','num facilites','num hospital','num school']

In [15]:
final_table.isnull().sum()

Suburb              0
2021 rent           0
2018_income        27
shopping_count    146
population         33
crime_rate         27
num_passenger     132
num_station       132
num facilites      36
num hospital      144
num school         65
dtype: int64

In [16]:
final_table.dropna(subset = ["population",'2018_income'], inplace=True)

In [17]:
# Fill 0 if no related values
final_table = final_table.fillna(0)

In [30]:
# Avoid duplication
final_table = final_table.drop_duplicates(subset = ['Suburb'])

In [31]:
final_table

,Suburb,2021 rent,2018_income,shopping_count,population,crime_rate,num_passenger,num_station,num facilites,num hospital,num school
0,ALBERT PARK,500,120412.0,0.0,11310.0,0.083418,0.0,0.0,10.0,0.0,0.0
1,MIDDLE PARK,500,120412.0,0.0,4712.0,0.083418,0.0,0.0,1.0,0.0,0.0
3,ARMADALE,450,111629.0,0.0,9436.0,0.069923,423950.0,2.0,6.0,0.0,2.0
4,CARLTON NORTH,580,88807.0,0.0,8097.0,0.091946,0.0,0.0,0.0,0.0,0.0
5,CARLTON,350,59791.0,0.0,17198.0,0.091946,0.0,0.0,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
208,SWAN HILL,298,54265.0,0.0,11169.0,0.085372,0.0,0.0,16.0,1.0,3.0
209,TORQUAY,520,71515.0,0.0,21334.0,0.030081,0.0,0.0,26.0,0.0,1.0
210,TRARALGON,330,66226.0,1.0,28735.0,0.065452,0.0,0.0,24.0,1.0,2.0
212,WARRAGUL,373,58776.0,0.0,23080.0,0.055303,0.0,0.0,26.0,1.0,5.0
214,WODONGA,340,56835.0,4.0,22915.0,0.029469,0.0,0.0,25.0,2.0,4.0

In [32]:
final_table.to_csv(curated_data + 'final_table.csv')