In [1]:
import pandas as pd
import numpy as np

In [2]:
crime=pd.read_csv('../../data/curated/crime_rate.csv')

In [4]:
crime.head()

,Unnamed: 0,Year,Year ending,Police Region,Local Government Area,Incidents Recorded,"Rate per 100,000 population",crime_rate
0,0,2021,December,1 North West Metro,Banyule,5418,4122.096863,0.041221
1,1,2021,December,1 North West Metro,Brimbank,12682,6252.185377,0.062522
2,2,2021,December,1 North West Metro,Darebin,9563,5800.002842,0.058000
3,3,2021,December,1 North West Metro,Hobsons Bay,4567,4691.164939,0.046912
4,4,2021,December,1 North West Metro,Hume,12588,5126.172194,0.051262

In [5]:
crime.shape  # check the shape of data

(830, 8)

In [6]:
crime=crime[(crime["Local Government Area"] != "Total")] # The instance of total data in each police region is not selected

In [7]:
crime.shape

(790, 8)

### List the crime rate in each local government area from 2021 to 2012

In [8]:
crime_2021 = crime[(crime['Year'] == 2021)]

In [9]:
crime_2021.head()

,Unnamed: 0,Year,Year ending,Police Region,Local Government Area,Incidents Recorded,"Rate per 100,000 population",crime_rate
0,0,2021,December,1 North West Metro,Banyule,5418,4122.096863,0.041221
1,1,2021,December,1 North West Metro,Brimbank,12682,6252.185377,0.062522
2,2,2021,December,1 North West Metro,Darebin,9563,5800.002842,0.058000
3,3,2021,December,1 North West Metro,Hobsons Bay,4567,4691.164939,0.046912
4,4,2021,December,1 North West Metro,Hume,12588,5126.172194,0.051262

In [10]:
crime_2020 = crime[(crime['Year'] == 2020)]   # select data from different year
crime_2019 = crime[(crime['Year'] == 2019)]
crime_2018 = crime[(crime['Year'] == 2018)]
crime_2017 = crime[(crime['Year'] == 2017)]
crime_2016 = crime[(crime['Year'] == 2016)]
crime_2015 = crime[(crime['Year'] == 2015)]
crime_2014 = crime[(crime['Year'] == 2014)]
crime_2013 = crime[(crime['Year'] == 2013)]
crime_2012 = crime[(crime['Year'] == 2012)]

In [11]:
crime_2021=crime_2021[["Local Government Area","crime_rate"]]  # choose the useful attribute for each dataset
crime_2020=crime_2020[["Local Government Area","crime_rate"]]
crime_2019=crime_2019[["Local Government Area","crime_rate"]]
crime_2018=crime_2018[["Local Government Area","crime_rate"]]
crime_2017=crime_2017[["Local Government Area","crime_rate"]]
crime_2016=crime_2016[["Local Government Area","crime_rate"]]
crime_2015=crime_2015[["Local Government Area","crime_rate"]]
crime_2014=crime_2014[["Local Government Area","crime_rate"]]
crime_2013=crime_2013[["Local Government Area","crime_rate"]]
crime_2012=crime_2012[["Local Government Area","crime_rate"]]

In [12]:
crime_2021["crime_rate_2021"]=crime_2021["crime_rate"]   # allocate corresponding year crime rate to each dataset to create new attribute
crime_2020["crime_rate_2020"]=crime_2020["crime_rate"]
crime_2019["crime_rate_2019"]=crime_2019["crime_rate"]
crime_2018["crime_rate_2018"]=crime_2018["crime_rate"]
crime_2017["crime_rate_2017"]=crime_2017["crime_rate"]
crime_2016["crime_rate_2016"]=crime_2016["crime_rate"]
crime_2015["crime_rate_2015"]=crime_2015["crime_rate"]
crime_2014["crime_rate_2014"]=crime_2014["crime_rate"]
crime_2013["crime_rate_2013"]=crime_2013["crime_rate"]
crime_2012["crime_rate_2012"]=crime_2012["crime_rate"]

In [13]:
crime_2021=crime_2021[["Local Government Area","crime_rate_2021"]] #Select the attribute with corresponding year
crime_2020=crime_2020[["Local Government Area","crime_rate_2020"]]
crime_2019=crime_2019[["Local Government Area","crime_rate_2019"]]
crime_2018=crime_2018[["Local Government Area","crime_rate_2018"]]
crime_2017=crime_2017[["Local Government Area","crime_rate_2017"]]
crime_2016=crime_2016[["Local Government Area","crime_rate_2016"]]
crime_2015=crime_2015[["Local Government Area","crime_rate_2015"]]
crime_2014=crime_2014[["Local Government Area","crime_rate_2014"]]
crime_2013=crime_2013[["Local Government Area","crime_rate_2013"]]
crime_2012=crime_2012[["Local Government Area","crime_rate_2012"]]

### Merge crime rate of each LGA

In [14]:
merge=pd.merge(crime_2021,crime_2020,on="Local Government Area",how="outer")  # data merges on LGA attribute
merge=pd.merge(merge,crime_2019,on="Local Government Area",how="outer")
merge=pd.merge(merge,crime_2018,on="Local Government Area",how="outer")
merge=pd.merge(merge,crime_2017,on="Local Government Area",how="outer")
merge=pd.merge(merge,crime_2016,on="Local Government Area",how="outer")
merge=pd.merge(merge,crime_2015,on="Local Government Area",how="outer")
merge=pd.merge(merge,crime_2014,on="Local Government Area",how="outer")
merge=pd.merge(merge,crime_2013,on="Local Government Area",how="outer")
merge=pd.merge(merge,crime_2012,on="Local Government Area",how="outer")

In [15]:
merge.head()

,Local Government Area,crime_rate_2021,crime_rate_2020,crime_rate_2019,crime_rate_2018,crime_rate_2017,crime_rate_2016,crime_rate_2015,crime_rate_2014,crime_rate_2013,crime_rate_2012
0,Banyule,0.041221,0.050834,0.053517,0.055010,0.057569,0.058707,0.054383,0.054401,0.051724,0.047045
1,Brimbank,0.062522,0.073802,0.072287,0.069808,0.063991,0.073936,0.073788,0.069155,0.077856,0.079892
2,Darebin,0.058000,0.072235,0.069515,0.071783,0.072094,0.085266,0.075493,0.073406,0.068010,0.066710
3,Hobsons Bay,0.046912,0.045718,0.051143,0.049885,0.051625,0.057103,0.058446,0.061460,0.061062,0.066222
4,Hume,0.051262,0.066977,0.067987,0.069258,0.069913,0.085307,0.075095,0.069130,0.065072,0.066891

In [16]:
merge.shape

(79, 11)

In [19]:
merge.to_csv('../../data/curated/crime_rate_year.csv')

In [18]:
print(merge.isnull().sum())

Local Government Area    0
crime_rate_2021          0
crime_rate_2020          0
crime_rate_2019          0
crime_rate_2018          0
crime_rate_2017          0
crime_rate_2016          0
crime_rate_2015          0
crime_rate_2014          0
crime_rate_2013          0
crime_rate_2012          0
dtype: int64