In [27]:
# import required libries
import pandas as pd

# define required path
raw_data = '../data/raw/'
curated_data = '../data/curated/'

In [33]:
# read in datasets
crime = pd.read_csv(curated_data + 'crime_rate.csv', index_col=0)
suburb = pd.read_csv(raw_data + 'suburb.csv', index_col=0)
traffic = pd.read_csv(curated_data + 'traffic_dataset.csv', index_col=0)
income = pd.read_csv(curated_data + 'income2005-2018.csv', index_col=0)

In [5]:
# drop total data
crime = crime.loc[crime["Local Government Area"] != 'Total']

In [6]:
# drop duplicate suburbs
suburb['Suburb'] = suburb['Suburb'].drop_duplicates()
suburb = suburb.dropna()

In [7]:
# select crime rate in 2021
crime = crime.loc[crime['Year'] == 2021]

In [8]:
# preprocessing the column to drop space
crime['Local Government Area'] = crime['Local Government Area'].str[1:]

In [9]:
# left join crime dataset to suburb dataset
crime2021 = suburb[['Suburb','LGA']].join(crime[['Local Government Area','crime_rate']].set_index('Local Government Area'), \
    on = 'LGA').reset_index(drop=True)

In [10]:
crime2021.to_csv(curated_data + 'crime2021.csv')

In [11]:
# extract suburb from stop name
traffic['Suburb'] = traffic['STOP_NAME'].str.extract(r"\(([A-Za-z ]+)\)", expand=False)

In [12]:
# calculate the number of station each suburb
traffic_count = traffic.groupby(['Suburb'], as_index=False)['STOP_ID'].count()

In [13]:
traffic_count.columns = ['Suburb','traffic_count']

In [14]:
# calculate the annual traffic
traffic_sum = traffic.groupby(['Suburb'], as_index=False)['Pax_annual'].sum()

In [15]:
traffic_sum.columns = ['Suburb','traffic_sum']

In [16]:
traffic_count.to_csv(curated_data + 'traffic_count.csv')
traffic_sum.to_csv(curated_data + 'traffic_sum.csv')

In [35]:
# allocate data in sa2 to suburbs
suburb_income = suburb.join(income.set_index('SA2'), on = 'SA2_code').dropna().reset_index(drop=True)

In [42]:
suburb_income.drop(['Postcode', 'LGA', 'SA2_name'], axis = 1)

,Suburb,SA2_code,2005_income,2006_income,2007_income,2008_income,2009_income,2010_income,2011_income,2012_income,2013_income,2014_income,2015_income,2016_income,2017_income,2018_income
0,MELBOURNE,206041122.0,51052.0,53449.0,50094.0,50978.0,57408.0,56465.0,54738.0,54176.0,57011.0,53183.0,53292.0,51261.0,51528.0,52476.0
1,MELBOURNE,206041122.0,51052.0,53449.0,50094.0,50978.0,57408.0,56465.0,54738.0,54176.0,57011.0,53183.0,53292.0,51261.0,51528.0,52476.0
2,EAST MELBOURNE,206041119.0,80524.0,87975.0,79947.0,90831.0,95349.0,105396.0,107768.0,104960.0,116888.0,114762.0,122960.0,124057.0,128069.0,132130.0
3,MELBOURNE,206041126.0,54551.0,61427.0,62827.0,67588.0,64954.0,76885.0,71516.0,73232.0,74154.0,73998.0,75285.0,72915.0,73634.0,75071.0
4,ST KILDA ROAD CENTRAL,206041125.0,71733.0,77763.0,74770.0,82608.0,81303.0,109471.0,102855.0,106727.0,127605.0,122899.0,125079.0,125363.0,135941.0,134432.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3229,MELBOURNE,206041122.0,51052.0,53449.0,50094.0,50978.0,57408.0,56465.0,54738.0,54176.0,57011.0,53183.0,53292.0,51261.0,51528.0,52476.0
3230,MELBOURNE,206041122.0,51052.0,53449.0,50094.0,50978.0,57408.0,56465.0,54738.0,54176.0,57011.0,53183.0,53292.0,51261.0,51528.0,52476.0
3231,MELBOURNE,206041122.0,51052.0,53449.0,50094.0,50978.0,57408.0,56465.0,54738.0,54176.0,57011.0,53183.0,53292.0,51261.0,51528.0,52476.0
3232,DANDENONG,212041311.0,31904.0,32960.0,33737.0,35186.0,35649.0,37105.0,38539.0,39945.0,39413.0,41083.0,41195.0,42502.0,44205.0,45908.0
3233,NORTH POLE,206041122.0,51052.0,53449.0,50094.0,50978.0,57408.0,56465.0,54738.0,54176.0,57011.0,53183.0,53292.0,51261.0,51528.0,52476.0

In [43]:
suburb_income.to_csv(curated_data + 'suburb_income.csv', index = False)