In [1]:
from urllib.request import urlretrieve
import pandas as pd
import numpy as np

In [2]:
output_hospital = '../data/raw/hospitals.csv'
url = 'https://springernature.figshare.com/ndownloader/files/15591434'
urlretrieve(url, output_hospital)

('../data/raw/hospitals.csv', <http.client.HTTPMessage at 0x7fa2c71d79a0>)

In [9]:
hospitals = pd.read_csv("../data/raw/hospitals.csv",encoding='cp1252')

In [11]:
hospitals_vic = hospitals[hospitals["State"] == "Vic"]

In [12]:
hospitals_select = hospitals_vic[["Hospital name", "Suburb","Postcode","Latitude","Longitude"]]

In [13]:
hospitals_select.to_csv("../data/curated/hospitals_vic.csv")

In [32]:
url = 'https://discover.data.vic.gov.au/dataset/e6db797e-3801-4cfa-bf02-82350d0f722d/resource/bfff5fff-9c74-4671-8396-43f793613b70/download/srv_ifmd_all-facilities.xlsx'
output_facility = '../data/raw/Facilites_list.xlsx'
urlretrieve(url, output_facility)

('../data/raw/Facilites_list.xlsx',
 <http.client.HTTPMessage at 0x7fa2c5cb45e0>)

In [2]:
facility = pd.read_excel('../data/raw/Facilites_list.xlsx')
facility = facility.drop_duplicates(subset = ['Facility ID'])
facility = facility[['Facility ID', 'Pcode', 'Suburb/Town', 'Latitude', 'Longitude']]

In [13]:
facility[facility['Latitude'].isna() == True]

      Facility ID   Pcode     Suburb/Town  Latitude  Longitude
39    ALPINE11452  3741.0        BRIGHT         NaN        NaN
40    ALPINE11495  3699.0    MOUNT BEAUTY       NaN        NaN
622   BAWBAW12139  3820.0        WARRAGUL       NaN        NaN
671   BAWBAW12086  3818.0     DROUIN WEST       NaN        NaN
672   BAWBAW12134  3820.0        WARRAGUL       NaN        NaN
...           ...     ...             ...       ...        ...
9451  YARRAR11475  3796.0    MOUNT EVELYN       NaN        NaN
9452  YARRAR11490  3158.0           UPWEY       NaN        NaN
9453  YARRAR11501  3775.0      YARRA GLEN       NaN        NaN
9454  YARRAR11505  3797.0  YARRA JUNCTION       NaN        NaN
9472  YARRAR11464  3793.0         MONBULK       NaN        NaN

[319 rows x 5 columns]

In [9]:
facility.to_csv('../data/curated/Facilites_list.csv')