In [61]:
# import required libries
import pandas as pd

# define required path
raw_data = '../data/raw/'
curated_data = '../data/curated/'

In [62]:
# read in datasets
shopping = pd.read_csv(curated_data + 'suburb_shopping.csv', index_col=0)
population = pd.read_csv(curated_data + 'suburb_population.csv', index_col=0)
crime = pd.read_csv(curated_data + 'crime2021.csv', index_col=0)
passenger = pd.read_csv(curated_data + 'traffic_sum.csv', index_col=0)
station = pd.read_csv(curated_data + 'traffic_count.csv', index_col=0)
income = pd.read_csv(curated_data + 'suburb_income.csv', index_col=0)

facilites = pd.read_csv(curated_data + 'facilites_suburb.csv', index_col=0)
hospital = pd.read_csv(curated_data + 'hospital_suburb.csv', index_col=0)
school = pd.read_csv(curated_data + 'school_suburb.csv', index_col=0)

In [63]:
population = population[['Suburb', '2021']]
crime = crime[['Suburb', 'crime_rate']]
income = income[['Suburb', '2018_19_median']]

In [64]:
# Tranfer all suburb columns to uppercase
shopping['suburb'] = shopping['suburb'].str.upper()
passenger['Suburb'] = passenger['Suburb'].str.upper()
hospital['Suburb'] = hospital['Suburb'].str.upper()
station['Suburb'] = station['Suburb'].str.upper()

In [65]:
suburb_merged = income.join(shopping.set_index('suburb'), on = 'Suburb')

In [66]:
suburb_merged = suburb_merged.join(population.set_index('Suburb'), on = 'Suburb')

In [67]:
suburb_merged = suburb_merged.join(crime.set_index('Suburb'), on = 'Suburb')

In [68]:
suburb_merged = suburb_merged.join(passenger.set_index('Suburb'), on = 'Suburb')

In [69]:
suburb_merged = suburb_merged.join(station.set_index('Suburb'), on = 'Suburb')

In [70]:
suburb_merged = suburb_merged.join(facilites.set_index('Suburb'), on = 'Suburb')

In [71]:
suburb_merged = suburb_merged.join(hospital.set_index('Suburb'), on = 'Suburb')

In [72]:
suburb_merged = suburb_merged.join(school.set_index('Suburb'), on = 'Suburb')

In [73]:
suburb_merged.columns = ['Suburb', '2018_income', 'shopping_count', 'population', 'crime_rate', 'num_passenger', 'num_station','num facilites','num hospital','num school']

In [74]:
suburb_merged.isnull().sum()

Suburb               0
2018_income          0
shopping_count    3203
population        2679
crime_rate           1
num_passenger     3172
num_station       3172
num facilites     2180
num hospital      3153
num school        2904
dtype: int64

In [76]:
suburb_merged.dropna(subset = ["population"], inplace=True)

In [80]:
suburb_merged = suburb_merged.fillna(0)

In [82]:
suburb_merged

,Suburb,2018_income,shopping_count,population,crime_rate,num_passenger,num_station,num facilites,num hospital,num school
0,MELBOURNE,30024.0,26.0,43823.0,0.147173,0.0,0.0,23.0,5.0,6.0
1,EAST MELBOURNE,75755.0,0.0,4962.0,0.091946,358650.0,1.0,0.0,6.0,0.0
6,SOUTHBANK,65395.0,0.0,8505.0,0.083418,0.0,0.0,3.0,0.0,0.0
7,DOCKLANDS,55150.0,1.0,15942.0,0.147173,0.0,0.0,3.0,0.0,0.0
9,FOOTSCRAY,49243.0,2.0,17420.0,0.046509,2137800.0,2.0,12.0,7.0,2.0
...,...,...,...,...,...,...,...,...,...,...
3295,DALYSTON,39884.0,0.0,1670.0,0.055692,0.0,0.0,1.0,0.0,0.0
3300,CAPE PATERSON,39884.0,0.0,1670.0,0.038873,0.0,0.0,3.0,0.0,0.0
3305,NORTH WONTHAGGI,39884.0,0.0,1670.0,0.038873,0.0,0.0,0.0,0.0,0.0
3310,WONTHAGGI,39884.0,0.0,8350.0,0.038873,0.0,0.0,10.0,1.0,1.0
3312,INVERLOCH,39884.0,0.0,5010.0,0.038873,0.0,0.0,8.0,0.0,0.0