In [24]:
# import required libries
import pandas as pd

# define required path
raw_data = '../data/raw/'
curated_data = '../data/curated/'

In [25]:
# read in datasets
shopping = pd.read_csv(curated_data + 'suburb_shopping.csv', index_col=0)
population = pd.read_csv(curated_data + 'suburb_population.csv', index_col=0)
crime = pd.read_csv(curated_data + 'crime2021.csv', index_col=0)
passenger = pd.read_csv(curated_data + 'traffic_sum.csv', index_col=0)
station = pd.read_csv(curated_data + 'traffic_count.csv', index_col=0)
income = pd.read_csv(curated_data + 'suburb_income.csv', index_col=0)

facilites = pd.read_csv(curated_data + 'facilites_suburb.csv', index_col=0)
hospital = pd.read_csv(curated_data + 'hospital_suburb.csv', index_col=0)
school = pd.read_csv(curated_data + 'school_suburb.csv', index_col=0)

rent =  pd.read_csv(curated_data + 'annual_rent_2014_2018.csv', index_col=0)

In [26]:
population = population[['Suburb', '2021']]
crime = crime[['Suburb', 'crime_rate']]
income = income[['Suburb', '2018_19_median']]
rent =  rent [['Suburb','Mar 2014 Median']]

In [27]:
# Tranfer all suburb columns to uppercase
shopping['suburb'] = shopping['suburb'].str.upper()
passenger['Suburb'] = passenger['Suburb'].str.upper()
hospital['Suburb'] = hospital['Suburb'].str.upper()
station['Suburb'] = station['Suburb'].str.upper()
rent['Suburb'] = rent['Suburb'].str.upper()

In [28]:
suburb_merged = income.join(shopping.set_index('suburb'), on = 'Suburb')

In [29]:
suburb_merged = suburb_merged.join(population.set_index('Suburb'), on = 'Suburb')

In [30]:
suburb_merged = suburb_merged.join(crime.set_index('Suburb'), on = 'Suburb')

In [31]:
suburb_merged = suburb_merged.join(passenger.set_index('Suburb'), on = 'Suburb')

In [32]:
suburb_merged = suburb_merged.join(station.set_index('Suburb'), on = 'Suburb')

In [33]:
suburb_merged = suburb_merged.join(facilites.set_index('Suburb'), on = 'Suburb')

In [34]:
suburb_merged = suburb_merged.join(hospital.set_index('Suburb'), on = 'Suburb')

In [35]:
suburb_merged = suburb_merged.join(school.set_index('Suburb'), on = 'Suburb')

In [36]:
final_tabel  = rent.join(suburb_merged.set_index('Suburb'), on = 'Suburb')

In [39]:
final_tabel.columns = ['Suburb', '2014 rent','2018_income', 'shopping_count', 'population', 'crime_rate', 'num_passenger', 'num_station','num facilites','num hospital','num school']

In [40]:
final_tabel.isnull().sum()

Suburb              0
2014 rent           0
2018_income        14
shopping_count    131
population         19
crime_rate         14
num_passenger     111
num_station       111
num facilites      23
num hospital      137
num school         50
dtype: int64

In [43]:
final_tabel.dropna(subset = ["population",'2018_income'], inplace=True)

In [44]:
final_tabel = final_tabel.fillna(0)

In [45]:
final_tabel

,Suburb,2014 rent,2018_income,shopping_count,population,crime_rate,num_passenger,num_station,num facilites,num hospital,num school
3,ALBERT PARK,460,67518.0,0.0,11310.0,0.083418,0.0,0.0,10.0,0.0,0.0
3,MIDDLE PARK,460,67518.0,0.0,4712.0,0.083418,0.0,0.0,1.0,0.0,0.0
4,ARMADALE,390,69563.0,0.0,9436.0,0.069923,423950.0,2.0,6.0,0.0,2.0
5,CARLTON NORTH,510,60116.0,0.0,8097.0,0.091946,0.0,0.0,0.0,0.0,0.0
6,CARLTON,355,38891.0,0.0,17198.0,0.091946,0.0,0.0,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
155,TORQUAY,400,54955.0,0.0,21334.0,0.030081,0.0,0.0,26.0,0.0,1.0
156,TRARALGON,260,54079.0,1.0,28735.0,0.065452,0.0,0.0,24.0,1.0,2.0
158,WARRAGUL,270,47709.0,0.0,23080.0,0.055303,0.0,0.0,26.0,1.0,5.0
159,WARRNAMBOOL,280,48855.0,3.0,22462.0,0.063943,0.0,0.0,40.0,2.0,3.0
160,WODONGA,275,51308.0,4.0,22915.0,0.029469,0.0,0.0,25.0,2.0,4.0

In [46]:
final_tabel.to_csv('../data/curated/final_tabel.csv')