In [13]:
# import required libries
import pandas as pd

# define required path
raw_data = '../data/raw/'
curated_data = '../data/curated/'

In [14]:
# read in datasets
shopping = pd.read_csv(curated_data + 'suburb_shopping.csv', index_col=0)
population = pd.read_csv(curated_data + 'suburb_population.csv', index_col=0)
crime = pd.read_csv(curated_data + 'crime2021.csv', index_col=0)
passenger = pd.read_csv(curated_data + 'traffic_sum.csv', index_col=0)
station = pd.read_csv(curated_data + 'traffic_count.csv', index_col=0)
income = pd.read_csv(curated_data + 'suburb_income.csv', index_col=0)

facilites = pd.read_csv(curated_data + 'facilites_suburb.csv', index_col=0)
hospital = pd.read_csv(curated_data + 'hospital_suburb.csv', index_col=0)
school = pd.read_csv(curated_data + 'school_suburb.csv', index_col=0)

In [15]:
population = population[['Suburb', '2021']]
crime = crime[['Suburb', 'crime_rate']]
income = income[['Suburb', '2018_19_median']]

In [16]:
# Tranfer all suburb columns to uppercase
shopping['suburb'] = shopping['suburb'].str.upper()
passenger['Suburb'] = passenger['Suburb'].str.upper()
hospital['Suburb'] = hospital['Suburb'].str.upper()
station['Suburb'] = station['Suburb'].str.upper()

In [17]:
suburb_merged = income.join(shopping.set_index('suburb'), on = 'Suburb')

In [18]:
suburb_merged = suburb_merged.join(population.set_index('Suburb'), on = 'Suburb')

In [19]:
suburb_merged = suburb_merged.join(crime.set_index('Suburb'), on = 'Suburb')

In [20]:
suburb_merged = suburb_merged.join(passenger.set_index('Suburb'), on = 'Suburb')

In [21]:
suburb_merged = suburb_merged.join(station.set_index('Suburb'), on = 'Suburb')

In [22]:
suburb_merged = suburb_merged.join(facilites.set_index('Suburb'), on = 'Suburb')

In [23]:
suburb_merged = suburb_merged.join(hospital.set_index('Suburb'), on = 'Suburb')

In [24]:
suburb_merged = suburb_merged.join(school.set_index('Suburb'), on = 'Suburb')

In [25]:
suburb_merged.columns = ['Suburb', '2018_income', 'shopping_count', 'population', 'crime_rate', 'num_passenger', 'num_station','num facilites','num hospital','num school']

In [27]:
suburb_merged.isnull().sum()

Suburb               0
2018_income          0
shopping_count    3203
population        2679
crime_rate           1
num_passenger     3172
num_station       3172
num facilites     2180
num hospital      3153
num school        2904
dtype: int64

In [28]:
suburb_merged

,Suburb,2018_income,shopping_count,population,crime_rate,num_passenger,num_station,num facilites,num hospital,num school
0,MELBOURNE,30024.0,26.0,43823.0,0.147173,NaN,NaN,23.0,5.0,6.0
1,EAST MELBOURNE,75755.0,NaN,4962.0,0.091946,358650.0,1.0,NaN,6.0,NaN
2,ST KILDA ROAD CENTRAL,70451.0,NaN,NaN,0.091946,NaN,NaN,NaN,NaN,NaN
3,ST KILDA ROAD MELBOURNE,70451.0,NaN,NaN,0.091946,NaN,NaN,NaN,NaN,NaN
4,WORLD TRADE CENTRE,55150.0,NaN,NaN,0.147173,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3317,COLLINS STREET WEST,30024.0,NaN,NaN,0.091946,NaN,NaN,NaN,NaN,NaN
3318,FLINDERS LANE,30024.0,NaN,NaN,0.091946,NaN,NaN,NaN,NaN,NaN
3319,LAW COURTS,52984.0,NaN,NaN,0.091946,NaN,NaN,NaN,NaN,NaN
3320,LITTLE LONSDALE STREET,30024.0,NaN,NaN,0.091946,NaN,NaN,NaN,NaN,NaN
3321,NORTH POLE,30024.0,NaN,NaN,0.091946,NaN,NaN,NaN,NaN,NaN