In [17]:
import pandas as pd
from sklearn import preprocessing

In [18]:
income = pd.read_csv('../data/raw/income.csv', index_col=0)
income2010 = pd.read_csv('../data/raw/income2010-2013.csv', index_col=0)
income2005 = pd.read_csv('../data/raw/income2005-2009.csv', index_col=0)

In [19]:
print(len(income))
print(len(income2010))
print(len(income2005))

2287
2310
2167

In [20]:
# Delete all rows with np values
income = income[['SA2_code','2014_15_mean', '2015_16_mean', '2016_17_mean', '2017_18_mean', '2018_19_mean']]
income = income[(income != 'np').all(axis=1)]
income2010 = income2010[(income2010 != 'na').all(axis=1)]
income2005 = income2005[(income2005 != '-').all(axis=1)]

In [21]:
print(len(income))
print(len(income2010))
print(len(income2005))

2201
2197
2143

In [22]:
income.columns = ['SA2_code', '2014_income', '2015_income', '2016_income', '2017_income', '2018_income']

In [24]:
# Select data in Victoria
income = income.loc[(income['SA2_code'].astype(int)>199999999) & (income['SA2_code'].astype(int)<300000000)]
income2010 = income2010.loc[(income2010['SA2'].astype(int)>199999999) & (income2010['SA2'].astype(int)<300000000)]
income2005 = income2005.loc[(income2005['SA2'].astype(int)>199999999) & (income2005['SA2'].astype(int)<300000000)]

In [26]:
print(len(income))
print(len(income2010))
print(len(income2005))

456
456
429

In [28]:
income_all = income2005.join(income2010.set_index('SA2'), on = 'SA2')
income_all = income_all.join(income.set_index('SA2_code'), on = 'SA2')

In [30]:
income_all.dropna()

,SA2,2005_income,2006_income,2007_income,2008_income,2009_income,2010_income,2011_income,2012_income,2013_income,2014_income,2015_income,2016_income,2017_income,2018_income
536,201011001,36768,38604,39326,42024,43672,49967,51670,52993,54625,56374,57747,60026,62315,63668
537,201011002,36495,38269,38960,41616,43323,57063,61177,63669,65507,67217,72754,71895,74671,77876
538,201011003,36910,38758,39424,42222,43918,46159,48947,50872,52024,53017,54660,56067,59786,60367
539,201011004,35005,36484,37339,39713,40968,40180,41918,43625,44722,45473,46143,47676,49041,50778
540,201011005,38861,39919,40464,43132,45539,51017,53538,55675,56765,58011,58292,60009,61565,63258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949,216031419,31753,31279,33591,34446,35048,37517,40447,41168,42393,44297,44486,45870,48350,50822
950,217011420,31546,33713,35617,37224,35305,43072,43548,40206,43503,47358,49529,51261,50806,53252
951,217011421,34332,35529,36282,39010,37900,43067,45139,44957,45075,47235,47314,48303,49549,52803
952,217011422,37654,39296,40932,42195,42034,46398,49852,50494,52280,53675,53527,54003,55632,57119
953,217011423,27025,29487,33412,33939,34336,45736,43695,34943,40690,43794,45457,51223,57001,55594

In [31]:
income_all.to_csv('../data/curated/income2005-2018.csv')