In [33]:
# import required libries
import pandas as pd

# define required path
raw_data = '../data/raw/'
curated_data = '../data/curated/'

# Liveability

In [34]:
suburbs = pd.read_csv(curated_data + 'normalized_data.csv', index_col = 0)

In [35]:
attributes = ['shopping_count', 'population', 'crime_rate', 'num_station', 'num facilites', 'num hospital', 'num school']
for feature_name in attributes:
    mean_value = suburbs[feature_name].mean()
    suburbs[feature_name] = (suburbs[feature_name] - mean_value)

In [36]:
# Crime rate has negative effect
suburbs['crime_rate'] = -suburbs['crime_rate']

In [37]:
# Set different importance to attributes. Set crime hospital and crime with a larger 
# constant because they are considered with more weight
NORMAL_WEIGHT = 10
IMPORTANT_WEIGHT = 20
suburbs['Liveability'] = (suburbs['shopping_count']*NORMAL_WEIGHT + suburbs['num_station']*NORMAL_WEIGHT + 
suburbs['num facilites']*NORMAL_WEIGHT + suburbs['num hospital']*IMPORTANT_WEIGHT + suburbs['num school']*NORMAL_WEIGHT +
suburbs['population']*NORMAL_WEIGHT + suburbs['crime_rate']*IMPORTANT_WEIGHT)

In [38]:
# Order the table
suburbs.sort_values(by=['Liveability'], inplace=True, ascending=False)

In [39]:
suburbs.reset_index(drop = True, inplace = True)

In [40]:
suburbs.head(10)

,Suburb,shopping_count,population,crime_rate,num_station,num facilites,num hospital,num school,Liveability
0,FRANKSTON,0.348165,0.303667,0.134580,0.237158,0.754961,0.615925,0.131148,32.761094
1,FOOTSCRAY,0.205308,0.107287,0.068933,0.237158,0.070751,0.901639,0.031148,25.927965
2,RICHMOND,0.062451,0.507795,-0.282459,0.637158,0.623382,0.330211,0.131148,20.574380
3,WODONGA,0.491023,0.273610,0.200714,-0.162842,0.412856,0.187354,0.231148,20.219304
4,CAMBERWELL,0.062451,0.231144,0.180064,0.837158,0.070751,0.187354,-0.068852,18.674874
5,MORNINGTON,0.348165,0.364233,0.134580,-0.162842,0.281277,0.330211,0.031148,17.915633
6,DANDENONG,0.205308,0.512214,0.095089,0.037158,0.149698,0.330211,0.031148,17.861258
7,BERWICK,0.205308,0.281843,0.178580,0.037158,0.018119,0.330211,0.131148,16.911584
8,GLEN WAVERLEY,0.205308,0.242858,0.180064,0.237158,0.281277,0.044496,0.131148,15.468703
9,BENDIGO,0.348165,-0.088669,-0.061805,-0.162842,0.570751,0.330211,0.331148,15.353650

In [41]:
suburbs[['Suburb', 'Liveability']].to_csv(curated_data + 'Liveability_rank.csv')

# Affordability

In [42]:
suburbs2 = pd.read_csv(curated_data + 'final_table.csv',index_col = 0)[['Suburb', '2021 rent', '2018_income']]

In [43]:
# Assume that the rental price represents the commodity price
# This is the formula of affordability
suburbs2['Affordability'] = suburbs2['2018_income'] / suburbs2['2021 rent']

In [44]:
# sort the table
suburbs2.sort_values(by=['Affordability'], inplace=True, ascending=False)

In [45]:
suburbs2.reset_index(drop = True, inplace = True)

In [46]:
suburbs2.head(10)

           Suburb  2021 rent  2018_income  Affordability
0          TOORAK        515     188906.0     366.807767
1  EAST MELBOURNE        450     132130.0     293.622222
2        HAWTHORN        390     104364.0     267.600000
3         MALVERN        450     119392.0     265.315556
4       GLEN IRIS        480     119392.0     248.733333
5        ARMADALE        450     111629.0     248.064444
6    MALVERN EAST        420     101673.0     242.078571
7     ALBERT PARK        500     120412.0     240.824000
8     MIDDLE PARK        500     120412.0     240.824000
9    IVANHOE EAST        465     111558.0     239.909677

In [47]:
suburbs2[['Suburb', 'Affordability']].to_csv(curated_data + 'Affordability_rank.csv')