In [1]:
# import required libries
import pandas as pd

# define required path
raw_data = '../data/raw/'
curated_data = '../data/curated/'

# Liveability

In [2]:
suburbs = pd.read_csv(curated_data + 'normalized_data.csv', index_col = 0)

In [3]:
attributes = ['shopping_count', 'population', 'crime_rate', 'num_station', 'num facilites', 'num hospital', 'num school']
for feature_name in attributes:
    mean_value = suburbs[feature_name].mean()
    suburbs[feature_name] = (suburbs[feature_name] - mean_value)

In [4]:
# Crime rate has negative effect
suburbs['crime_rate'] = -suburbs['crime_rate']

In [5]:
# Set different importance to attributes. Set crime hospital and crime with a larger 
# constant because they are considered with more weight
constant1 = 10
constant2 = 20
suburbs['Liveability'] = (suburbs['shopping_count']*constant1 + suburbs['num_station']*constant1 + 
suburbs['num facilites']*constant1 + suburbs['num hospital']*constant2 +
suburbs['population']*constant1 + suburbs['crime_rate']*constant2)

In [6]:
# Order the table
suburbs.sort_values(by=['Liveability'], inplace=True, ascending=False)

In [7]:
suburbs.reset_index(drop = True, inplace = True)

In [8]:
suburbs.head(10)

,Suburb,shopping_count,population,crime_rate,num_station,num facilites,num hospital,num school,Liveability
0,FRANKSTON,0.348165,0.303667,0.134580,0.237158,0.754961,0.615925,0.131148,31.449619
1,FOOTSCRAY,0.205308,0.107287,0.068933,0.237158,0.070751,0.901639,0.031148,25.616489
2,CAMBERWELL,0.062451,0.231144,0.180064,0.837158,0.070751,0.187354,-0.068852,19.363398
3,RICHMOND,0.062451,0.507795,-0.282459,0.637158,0.623382,0.330211,0.131148,19.262905
4,WODONGA,0.491023,0.273610,0.200714,-0.162842,0.412856,0.187354,0.231148,17.907828
5,MORNINGTON,0.348165,0.364233,0.134580,-0.162842,0.281277,0.330211,0.031148,17.604157
6,DANDENONG,0.205308,0.512214,0.095089,0.037158,0.149698,0.330211,0.031148,17.549783
7,BERWICK,0.205308,0.281843,0.178580,0.037158,0.018119,0.330211,0.131148,15.600109
8,GLEN WAVERLEY,0.205308,0.242858,0.180064,0.237158,0.281277,0.044496,0.131148,14.157228
9,RINGWOOD,0.205308,0.152659,0.180064,0.237158,0.307593,0.044496,0.131148,13.518394

In [9]:
suburbs[['Suburb', 'Liveability']].to_csv(curated_data + 'Liveability_rank.csv')

# Affordability

In [11]:
suburbs2 = pd.read_csv(curated_data + 'final_table.csv',index_col = 0)[['Suburb', '2021 rent', '2018_income']]

In [12]:
# Assume that the rental price represents the commodity price
# This is the formula of affordability
suburbs2['Affordability'] = suburbs2['2021 rent'] / suburbs2['2018_income']

In [13]:
# sort the table
suburbs2.sort_values(by=['Affordability'], inplace=True)

In [14]:
suburbs2.reset_index(drop = True, inplace = True)

In [15]:
suburbs2.head(10)

           Suburb  2021 rent  2018_income  Affordability
0          TOORAK        515     188906.0       0.002726
1  EAST MELBOURNE        450     132130.0       0.003406
2        HAWTHORN        390     104364.0       0.003737
3         MALVERN        450     119392.0       0.003769
4       GLEN IRIS        480     119392.0       0.004020
5        ARMADALE        450     111629.0       0.004031
6    MALVERN EAST        420     101673.0       0.004131
7     ALBERT PARK        500     120412.0       0.004152
8     MIDDLE PARK        500     120412.0       0.004152
9    IVANHOE EAST        465     111558.0       0.004168

In [16]:
suburbs2[['Suburb', 'Affordability']].to_csv(curated_data + 'Affordability_rank.csv')