In [4]:
import pandas as pd

In [5]:
df = pd.read_json('../data/raw/property.json')

In [7]:
df = df.transpose()

In [10]:
df[df["name"] == ""]

,name,cost_text,type,Area,coordinates,rooms
https://www.domain.com.au/1002-245-city-road-southbank-vic-3006-16016061,,,,0,"[0, 0]","[2 Beds, 2 Baths, 1 Parking]"

In [11]:
df[df["cost_text"] == ""]

,name,cost_text,type,Area,coordinates,rooms
https://www.domain.com.au/1002-245-city-road-southbank-vic-3006-16016061,,,,0,"[0, 0]","[2 Beds, 2 Baths, 1 Parking]"

In [15]:
df

,name,cost_text,type,Area,coordinates,rooms
https://www.domain.com.au/56-selwyn-street-albion-vic-3020-16051103,56 Selwyn Street Albion VIC 3020,"$300 PW / $1,304 PCM",House,0,"[-37.7807821, 144.8130199]","[3 Beds, 2 Baths, 2 Parking]"
https://www.domain.com.au/1-3-robin-street-altona-vic-3018-16066708,1/3 Robin Street Altona VIC 3018,$300 per week,Apartment / Unit / Flat,0,"[-37.8690276, 144.8072501]","[2 Beds, 1 Bath, 1 Parking]"
https://www.domain.com.au/34-hucker-street-ararat-vic-3377-16067682,34 Hucker Street Ararat VIC 3377,$300 per week,House,0,"[-37.27641089999999, 142.920079]","[3 Beds, 1 Bath, 1 Parking]"
https://www.domain.com.au/3-neylan-street-ararat-vic-3377-16067634,3 Neylan Street Ararat VIC 3377,$300 per week,House,0,"[-37.292905, 142.9218811]","[2 Beds, 1 Bath, 2 Parking]"
https://www.domain.com.au/8-suspension-street-ardeer-vic-3022-16041068,8 Suspension Street Ardeer VIC 3022,$300.00,House,0,"[-37.7823611, 144.8088328]","[2 Beds, 1 Bath, 2 Parking]"
...,...,...,...,...,...,...
https://www.domain.com.au/31-austin-road-seaford-vic-3198-16046945,31 Austin Road Seaford VIC 3198,$850.00,House,0,"[-38.1052309, 145.1343501]","[4 Beds, 2 Baths, 2 Parking]"
https://www.domain.com.au/12-morobe-street-sorrento-vic-3943-15917575,12 Morobe Street Sorrento VIC 3943,$850 pw,House,0,"[-38.3543648, 144.758948]","[5 Beds, 2 Baths]"
https://www.domain.com.au/7-278-kings-way-south-melbourne-vic-3205-15909786,7/278 Kings Way South Melbourne VIC 3205,$850 per week,Townhouse,0,"[-37.8330825, 144.9669774]","[3 Beds, 2 Baths, 1 Parking]"
https://www.domain.com.au/37-cunningham-street-south-yarra-vic-3141-16026732,37 Cunningham Street South Yarra VIC 3141,$850pw,House,0,"[-37.8401288, 144.9965869]","[3 Beds, 1 Bath, 1 Parking]"
https://www.domain.com.au/46-alexandra-street-south-yarra-vic-3141-16017847,46 Alexandra Street South Yarra VIC 3141,$850 per week,House,0,"[-37.8408625, 144.988399]","[3 Beds, 2 Baths]"