In [11]:
import pandas as pd
properties = pd.read_csv('../data/curated/properties.csv')
property_count = properties.groupby(['suburb']).count()[['name']]
property_count.columns = ['num_property']

In [12]:
property_count

                       num_property
suburb
(back) altona meadows             1
(cnr) traralgon                   1
abbotsford                       35
aberfeldie                        4
aintree                           8
...                             ...
yan yean                          1
yarra junction                    1
yarraville                       51
yarrawonga                        9
yea                               1

[704 rows x 1 columns]