In [35]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [10]:
# constants
url = "http://myboot.com.au/VIC/50/suburblist.aspx"

In [37]:
suburbs = []
bs_object =  BeautifulSoup(requests.get(url).text, "html.parser")
table = bs_object.findAll('div', {'class': 'cssSUBURBDESC'})

# The first entry is header
for each in table[1:]:
    result = each.text

    # Locate suburb name and distance
    name = result[result.find(':')+1:result.find('(')].strip()
    distance = result.split()[-2]
    suburbs.append([name, distance])

In [42]:
suburbs_pd = pd.DataFrame(suburbs)
suburbs_pd.columns = ['Suburb', 'Distance to CBD (km)']
suburbs_pd.to_csv('../../data/curated/suburb_distance_to_cbd.csv')

              Suburb Distance to CBD (km)
0         Abbotsford                  2.5
1         Aberfeldie                  9.1
2       Airport West                 13.5
3          Albanvale                 19.2
4        Albert Park                  3.3
..               ...                  ...
473       Yarraville                    7
474  Yarraville West                  9.4
475        Yellingbo                 47.2
476           Yering                 37.8
477           Yuroke                 26.1

[478 rows x 2 columns]